USE [AGVCCO]
GO
/****** Object:  Table [dbo].[CCOCAR]    Script Date: 28/09/2019 0:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCOCAR](
	[caride] [bigint] IDENTITY(1,1) NOT NULL,
	[carpro] [bigint] NOT NULL,
	[carcan] [int] NOT NULL,
	[carusu] [bigint] NULL,
	[carfeh] [datetime] NULL,
	[carest] [varchar](3) NULL,
 CONSTRAINT [PK__CCOCAR__480A819C33425611] PRIMARY KEY CLUSTERED 
(
	[caride] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CCOCAT]    Script Date: 28/09/2019 0:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCOCAT](
	[catide] [bigint] IDENTITY(1,1) NOT NULL,
	[catpro] [bigint] NOT NULL,
	[catcan] [int] NOT NULL,
	[catref] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[catide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CCOPRO]    Script Date: 28/09/2019 0:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCOPRO](
	[proide] [bigint] IDENTITY(1,1) NOT NULL,
	[pronom] [varchar](100) NOT NULL,
	[propre] [decimal](18, 6) NOT NULL,
	[profcr] [datetime] NOT NULL CONSTRAINT [DF_CCOPRO_profcr]  DEFAULT (getdate()),
 CONSTRAINT [PK__CCOPRO__3EDB9055B91D7854] PRIMARY KEY CLUSTERED 
(
	[proide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CCOUSU]    Script Date: 28/09/2019 0:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCOUSU](
	[usuide] [bigint] NOT NULL,
	[usudoc] [varchar](15) NOT NULL,
	[usunom] [varchar](50) NOT NULL,
	[usuape] [varchar](100) NOT NULL,
	[usutel] [varchar](15) NOT NULL,
	[usuema] [varchar](100) NOT NULL,
	[usufcr] [datetime] NOT NULL CONSTRAINT [DF__CCOUSU__usufeh__117F9D94]  DEFAULT (getdate()),
 CONSTRAINT [PK_CCOUSU] PRIMARY KEY CLUSTERED 
(
	[usuide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CCOCAR]  WITH CHECK ADD  CONSTRAINT [FK_CCOCAR_CCOPRO] FOREIGN KEY([carpro])
REFERENCES [dbo].[CCOPRO] ([proide])
GO
ALTER TABLE [dbo].[CCOCAR] CHECK CONSTRAINT [FK_CCOCAR_CCOPRO]
GO
ALTER TABLE [dbo].[CCOCAR]  WITH CHECK ADD  CONSTRAINT [FK_CCOCAR_CCOUSU] FOREIGN KEY([carusu])
REFERENCES [dbo].[CCOUSU] ([usuide])
GO
ALTER TABLE [dbo].[CCOCAR] CHECK CONSTRAINT [FK_CCOCAR_CCOUSU]
GO
ALTER TABLE [dbo].[CCOCAT]  WITH CHECK ADD  CONSTRAINT [FK_CCOCAT_CCOPRO] FOREIGN KEY([catpro])
REFERENCES [dbo].[CCOPRO] ([proide])
GO
ALTER TABLE [dbo].[CCOCAT] CHECK CONSTRAINT [FK_CCOCAT_CCOPRO]
GO
