 
<div class="card-columns" style="width: 550px;">       
    <div class="card">
      <h5 class="card-subtitle">Carrito</h5>   
        <div class="card-body"> 
        <p class="card-text">Unidades: </p>
        <div class="col-sm-6" *ngFor="let item of car">
          <div class="card-columns" style="width: 450px;" >
              <a class="card-subtitle">{{car.Carpro}}</a>
          </div>            
        </div>
        <p class="card-text font-weight-bold">Total $:{{car.}}</p> 
        <br>
        <button type="button" class="btn btn-outline-primary btn-block">Grabar</button> 
      </div>
    </div>
  </div>

 
